version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: job-import-server
    env_file:
      - server/.env
    ports:
      - "4000:4000"
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: job-import-worker
    env_file:
      - server/.env
    command: node workers/job.worker.js
    depends_on:
      - redis
      - server

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: job-import-client
    env_file:
      - client/.env
    ports:
      - "3000:3000"
    depends_on:
      - server
